/Calculadora-2.0/nbproject/private/
/Calculadora-2.0/dist/
/Calculadora-2.0/build/
/Calculadora-Windows/nbproject/private/
/Calculator-Windows/nbproject/private/
/Calculator-Windows/build/
/Calculator-Windows/dist/